<div class="container justify-content-center mt-5">
  <h2 class="row mb-5">Replay Subject</h2>

  <div class="row">
    <h4 class="col">{{methodInterval?'Interval started':'Add Videos'}}</h4>
    <div class="col text-right">
     <button class="btn btn-warning" (click)="toggle()">Toggle</button>
    </div>
  </div>
  <div *ngIf="!methodInterval" class="row justify-content-center mt-4">
    <div class="col-md-4">
       <input type="text" #value class="form-control">
    </div>
    <div class="col-md-3">
      <button class="btn btn-success" (click)="addvideos(value.value)">Add</button>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-4">
      <strong>User 01</strong>
      <hr>
      <ul class="video-list">
        <li *ngFor="let item of userList1"><strong> Video: </strong>{{item}}</li>
      </ul>
    </div>
    <div class="col-md-4">
      <strong>User 02</strong>
      <hr>
      <ul class="video-list">
        <li *ngFor="let item of userList2"><strong> Video: </strong>{{item}}</li>
      </ul>
      <button class="btn btn-success"
      [ngClass]="subscribeMode2 ? 'btn-danger' : 'btn-success'" (click)="onUser2Click()" >
      {{subscribeMode2 ? 'Unsubscribe UxTrends' : 'Subscribe UxTrends'}} </button>
    </div>
    <div class="col-md-4">
      <strong>User 03</strong>
      <hr>
      <ul class="video-list">
        <li *ngFor="let item of userList3"><strong> Video: </strong>{{item}}</li>
      </ul>
      <button class="btn btn-success"
      [ngClass]="subscribeMode3 ? 'btn-danger' : 'btn-success'" (click)="onUser3Click()" >
      {{subscribeMode3 ? 'Unsubscribe UxTrends' : 'Subscribe UxTrends'}} </button>
    </div>
  </div>

</div>


